<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Lego Collection</title>
  </head>

  <body
    tabindex="-1"
    data-new-gr-c-s-check-loaded="8.911.0"
    data-gr-ext-installed=""
  >
  <%- include('partials/navbar', {page: ''}) %>


    <br />

    <div class="container mx-auto px-4">
      <!-- Hero section -->
      <div
        class="hero min-h-screen"
        style="
          background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);
        "
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">About</h1>
            <p class="mb-5">
              Everything you want to know about me - the designer & developer.
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="container">
        <div class="hero min-h-screen">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold text-9xl">404</h1>
                <p class="mt-10 text-7xl">Page cannot be found!</p>
              </div>
            </div>
          </div>
    </div>
  </body>
</html>

