<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>

  <body
    tabindex="-1"
    data-new-gr-c-s-check-loaded="8.911.0"
    data-gr-ext-installed=""
  >
  <%- include('partials/navbar', {page: '/about'}) %>


    <br />

    <div class="container mx-auto px-4">
      <!-- Hero section -->
      <div
        class="hero"
        style="
          background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);
        "
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">About</h1>
            <p class="mb-5">
              Everything you want to know about me - the designer & developer.
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img
            class="w-full rounded-lg"
            src="https://w.wallhaven.cc/full/2y/wallhaven-2yjp6x.png"
            alt="profile"
            style="border-radius: 10px"
          />
        </div>
        <div class="p-4">
          <p>
            I'm Yingtong Lyu, a student in the Computer Programming and Analysis
            program at Seneca College.
          </p>

          <p>
            Outside class, I enjoy coding, tech trends, and photography. The web
            development course has been a highlight for me, blending practical
            skills with creative problem-solving, and fueling my passion for
            technology's evolving landscape.
          </p>
        </div>
      </div>
    </div>

    <footer class="mb-3 text-white text-center p-4">
      © 2024 Lego Collection. All rights reserved.
    </footer>
  </body>
</html>
