<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/'}) %>

    <div class="container mx-auto px-4">
      <!-- Hero section -->
      <div
        class="hero "
        style="
          background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);
        "
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Lego Collection</h1>
            <p class="mb-5">
              Unleash your inner builder and embark on a fascinating journey
              through the colorful realm of Lego.
            </p>
            <a href="/lego/sets" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>

      <br />

      <!-- Grid system -->
      <div class="container mx-auto">
        <div class="grid w-full sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-5">
          <div>
            <!-- Card 1 -->
            <div class="card w-full h-[25rem] bg-base-100 shadow-xl"> 
              <figure>
                <img
                  class="w-full"
                  src="https://cdn.rebrickable.com/media/sets/002-1.jpg"
                  alt="Lego set"/>
              </figure>
              <div class="card-body">
                <h2 class="card-title">4.5V Samsonite Gears Motor Set</h2>
                <p>
                  This set was released in America (USA/CAN) by Samsonite in
                  1965. It was never released in Europe.
                </p>
                <div class="card-actions justify-end">
                  <a href="/lego/sets/002-1" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Card 2 -->
          <div>
            <div class="card w-full h-[25rem] bg-base-100 shadow-xl">
                <figure>
                  <img
                    class="w-full"
                    src="https://cdn.rebrickable.com/media/sets/0011-3.jpg"
                    alt="Lego set"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Town Mini-Figures</h2>
                  <p>
                    Capturing a selection of miniature LEGO figures designed to populate LEGO town and city creations.
                  </p>
                  <div class="card-actions justify-end">
                    <a href="/lego/sets/0011-3" class="btn btn-primary">View</a>
                  </div>
                </div>
              </div>
          </div>

          <!-- Card 3 -->
          <div>
            <div class="card w-full h-[25rem] bg-base-100 shadow-xl">
                <figure>
                  <img
                    class="w-full"
                    src="https://cdn.rebrickable.com/media/sets/050-2.jpg"
                    alt="Lego set"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Lighting Device Pack</h2>
                  <p>
                    Specialized pieces designed to illuminate LEGO constructions.
                  </p>
                  <div class="card-actions justify-end">
                    <a href="/lego/sets/050-2" class="btn btn-primary">View</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>
